*{
    box-sizing: border-box;
}
body{
    
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 15px 20px;
    font-size: 15px;
    padding: 8px;


}
.container{
   background:url( "https://images.unsplash.com/photo-1589758438368-0ad531db3366?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1032&q=80");
   background-attachment: fixed;
   background-position: 100%;
   background-size: 100%;
    background-color: #dfd7d7;
    padding: 5px 20px 15px 20px;
    border:2px solid black;
    border-radius: 5px;


}
input[type="text"],
input[type="email"],
input[type="password"],
input[type="address"],
input[type="date"],
select,
textarea{
    width: 100%;
    padding: 10px;
    border:2px solid lightgray;
    border-radius: 4px;
    margin:10px;


}
fieldset{
    border:2px solid lightgray;
    background-color: #fff;
}
.main_heading{
    text-align: center;
}
input[type="submit"]{
    background-color: lightseagreen;
    color:white;
    padding: 10px 20px;
    border:none;
    border-radius: 6px;
    cursor:pointer;
    width:100%;


}
input[type="submit"]:hover{
    background-color: rgb(216, 127, 171);
    color:black;
}